.homepageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  height: 90vh;
}

.centeredImages {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.largeImageCard {
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.largeImageCard:hover {
  transform: scale(1.05); /* Zoom al passaggio del mouse */
}

.largeImage {
  width: 400px; /* Dimensione immagine grande */
  height: 225px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.largeImageCard p {
  font-size: 16px;
  margin-top: 10px;
  font-weight: bold;
  color: #333;
}
