/* General Styles */
/* body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
} */
/* General Layout */

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Hero Section */
.hero {
  color: #ffffff;
  padding: 80px 20px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  background-image: url("/Media/heroimg.jpg");
  /* Percorso dell'immagine */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
}

.heroTitle {
  font-size: 3rem;
  margin: 0;
}

.heroSubtitle {
  font-size: 1.2rem;
  margin-top: 10px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.8);
}

/* Card Section */
.card {
  background-color: #fff;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
  max-width: 960px;
  margin: 40px auto;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  box-sizing: border-box;
}

.videoContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.cardTitle {
  font-size: 2rem;
  color: #1d5c31;
  margin-bottom: 20px;
}

.cardText {
  font-size: 1rem;
  color: #7f8c8d;
  line-height: 1.6;
  margin-bottom: 20px;
}

.cardButton {
  background-color: #1d5c31;
  color: white;
  border: none;
  padding: 12px 30px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

.cardButton:hover {
  background-color: #1d5c31;
}

/* Popup */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  /* Sfondo semi-trasparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popupContent {
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  max-width: 500px;
  width: 100%;
  text-align: center;
  position: relative;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  color: #1d5c31;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.popupText {
  color: black;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.popupButtons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.popupButton {
  padding: 0.8rem 1.5rem;
  background-color: #1d5c31;
  /* Colore verde */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.popupMessage {
  margin-top: 1rem;
  color: white;
  font-weight: 200;
  background-color: #1d5c31;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 0.8rem 1.5rem;
  /* Colore per il messaggio */
  font-size: 1rem;
}
