/* body {
  font-family: "Arial", sans-serif;
  background: linear-gradient(135deg, #4caf50, #2e8b57); /* sfondo verde */
/* margin: 0;
  padding: 0;
} */

.mainContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: rgba(249, 249, 249, 0.8); /* Semi-transparent background */
  padding: 20px;
}

.formContainer {
  background-color: #ffffff;
  padding: 2.5rem;
  border-radius: 12px; /* Rounded corners for a softer look */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.formContainer h1 {
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.inputGroup {
  margin-bottom: 1.5rem;
}

.inputGroup label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: #444;
  font-size: 1.1rem;
}

.inputGroup input {
  width: 90%;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 1rem;
  transition: border-color 0.3s ease;
}

.inputGroup input:focus {
  outline: none;
  border-color: #1d5c31; /* Focus color matches button */
  box-shadow: 0 0 5px rgba(29, 92, 49, 0.3);
}

.errorMessage {
  color: red;
  margin-bottom: 1rem;
  font-size: 0.9rem;
  text-align: center;
  font-style: italic;
}

.submitButton {
  width: 100%;
  padding: 1rem;
  background-color: #1d5c31;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.submitButton:hover {
  background-color: #144421;
  transform: translateY(-2px); /* Adds subtle lift effect */
}

.submitButton:active {
  transform: translateY(1px); /* Subtle press effect */
}

.error {
  color: red;
  margin-bottom: 1rem;
  font-size: 0.9rem;
  text-align: center;
  font-style: italic;
}

@media (max-width: 600px) {
  .formContainer {
    padding: 1.5rem;
    width: 90%;
  }
}

.redirectLink {
  display: block;
  margin-top: 15px;
  text-align: center;
  color: #166e3b;
  font-weight: bold;
  text-decoration: none;
}

.redirectLink:hover {
  text-decoration: underline;
}
