.main-container {
  width: 80%;
  height: 80vh;
  margin: 20px auto;
  padding: 30px;
  background-color: #ffffff;
  border: 1px solid #333333;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4); /* ombra del bordo */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tab-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  border: 2px solid #4caf50;
  border-radius: 12px;
  overflow: hidden;
  background-color: #f9f9f9;
}

.tab-button {
  flex: 1;
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  background-color: #4caf50;
  border: none;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
  cursor: pointer;
}

.tab-button:hover {
  background-color: #e8f5e9;
  color: #388e3c;
}

.tab-button:first-child {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.tab-button:last-child {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  gap: 30px;
  width: 100%;
}

.profile-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px;
  width: 100%;
}

.avatar-placeholder img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 4px solid #4caf50;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.profile-info {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  gap: 12px;
  color: #333333;
}

.profile-row {
  display: flex;
  justify-content: space-between;
  width: 320px;
  font-size: 18px;
  font-weight: 500;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.edit-button,
.home-button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  background-color: #4caf50;
  transition: background-color 0.3s ease;
}

.edit-button:hover,
.home-button:hover {
  background-color: #388e3c;
}

.save-button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  background-color: #4caf50;
  transition: background-color 0.3s ease;
}

.save-button:hover {
  background-color: #388e3c;
}

.cancel-button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  background-color: #4caf50;
  transition: background-color 0.3s ease;
}

.cancel-button:hover {
  background-color: #388e3c;
}
