/* Contenitore principale dell'header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

/* Contenitore di navigazione */
.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

/* Barra di ricerca */
.search-bar-container {
  flex: 1;
  display: flex;
  justify-content: center;
}

.search-bar {
  width: 50%;
  max-width: 500px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  outline: none;
  font-size: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Logo */
.logo img {
  width: 70px;
  height: 70px;
}

/* Lista dei link */
.nav-links {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: auto; /* Spinge i link verso destra */
}

/* Link di navigazione */
.nav-links li {
  margin: 0 15px;
}

.nav-links li a {
  text-decoration: none;
  color: #1d5c31;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: #4caf50;
}

/* Sezione utente e avatar */
.user-section {
  margin-left: auto; /* Spinge questa sezione tutta a destra */
  display: flex;
  align-items: center;
}

.user-avatar-container {
  position: relative;
  cursor: pointer;
}

.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ffffff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* Dropdown menu */
.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 200px;
  z-index: 1000;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.dropdown-menu button {
  background-color: transparent;
  border: none;
  color: black;
  text-align: left;
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dropdown-menu button:hover {
  background-color: #4caf50;
}

.dropdown-menu button:focus {
  outline: none;
}

/* Responsive design */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
  }

  .nav-container {
    flex-direction: column;
  }

  .search-bar-container {
    width: 100%;
    justify-content: center;
  }

  .nav-links {
    justify-content: space-around;
    width: 100%;
  }

  .user-section {
    margin-left: 0;
    margin-top: 15px;
  }
}
