/* Header.css */

/* Stile generali per l'header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  /* Ombra */
}
.search-bar-container {
  flex: 1;
  display: flex;
  justify-content: center;
}

.search-bar {
  width: 50%;
  max-width: 500px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  outline: none;
  font-size: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
/* Stile per il logo */
.header .logo img {
  width: 70px;
  height: 70px;
}

/* Navigazione */
nav {
  display: flex;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: #1d5c31;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #4CAF50;
}

/* Responsive design: per schermi più piccoli */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  nav ul {
    flex-direction: column;
    align-items: flex-start;
  }

  nav ul li {
    margin: 10px 0;
  }
}

/* Stili per l'icona dell'utente */
.user-avatar-container {
  position: relative;
  cursor: pointer;
}

.user-avatar {
  width: 30px;
  /* Rimpicciolisci l'icona */
  height: 30px;
  border-radius: 50%;
  /* Rende l'immagine rotonda */
  object-fit: cover;
}

/* Menu a finestra piccola (dropdown) */
.dropdown-menu {
  position: absolute;
  top: 35px;
  /* Posiziona il menu sotto l'icona */
  right: 0;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  width: 120px;
  z-index: 1000;
  display: flex;
  justify-content: center;
}

.dropdown-menu button {
  width: 100%;
  padding: 8px;
  color: white;
  border: none;
  cursor: pointer;
  text-align: left;
  font-size: 14px;
}

.dropdown-menu button:hover {
  background-color: #e44d4d;
}