body {
  font-family: "Arial", sans-serif;
  background: linear-gradient(135deg, #4caf50, #2e8b57); /* Sfondo verde */
  margin: 0;
  padding: 0;
}

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: rgba(249, 249, 249, 0.8); /* Background semi-trasparente */
  padding: 20px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1; /* Occupare il resto dello spazio disponibile */
  margin-top: 30px;
  margin-bottom: 30px;
  width: 60%;
}

.form {
  background-color: #ffffff;
  padding: 2.5rem;
  border-radius: 12px; /* Angoli arrotondati per un look più morbido */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 450px; /* Maggiore larghezza */
  text-align: center;
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.form h1 {
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.input-group {
  margin-bottom: 1.5rem;
}

.input-group label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: #444;
  font-size: 1.1rem;
}

.input-group input {
  width: 100%;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 1rem;
  transition: border-color 0.3s ease;
}

.input-group input:focus {
  outline: none;
  border-color: #1d5c31; /* Colore di focus che corrisponde al pulsante */
  box-shadow: 0 0 5px rgba(29, 92, 49, 0.3);
}

.error {
  color: red;
  margin-bottom: 1rem;
  font-size: 0.9rem;
  text-align: center;
  font-style: italic;
}

.button {
  width: 100%;
  padding: 1.2rem; /* Aumenta l'altezza del pulsante */
  background-color: #1d5c31;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.2rem; /* Aumenta la dimensione del font */
  font-weight: 600;
  letter-spacing: 0.5px;
  transition:
    background-color 0.3s ease,
    transform 0.2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.button:hover {
  background-color: #144421;
  transform: translateY(-2px); /* Effetto di sollevamento */
}

.button:active {
  transform: translateY(1px); /* Effetto di pressione */
}

.link {
  text-align: center;
  margin-top: 1rem;
  font-size: 0.9rem;
}

@media (max-width: 600px) {
  .form {
    padding: 1.5rem;
    width: 90%;
  }
}
